.adminHabitante {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.employeesList {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.header {
    background-color: var(--color-main);
    padding: 1rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h1 {
    font-size: 2rem;
    color: var(--color-white);
}

.header button {
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    background-color: var(--color-button);
    padding: .5rem;
}