:root{
  --color-main: #091f08;
  --color-button: #7ea88a;
  --color-white: #FFFF;

  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,h2,h3,p,button,input,lable, a,select, option,textarea, div{
  margin: 0;
  padding: 0;
}

h1{
  font-size: 3rem;
}
h2{
  font-size: 2.5rem;
}
h3,p,a,button,input,label, textarea,select{
  font-size: 2rem;
}